* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3fdfd;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 3.2rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.2rem;
}

#main {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

#title-section {
  background-color: #cbf1f5;
  width: 100%;
  display: flex;
  flex-direction: column;

  /* text-align: center; */
  align-items: center;
  justify-content: space-evenly;
}

#title {
  margin: 2%;
  text-align: center;
}

#img-caption {
  text-align: right;
}

.caption {
  font-size: 0.6rem;
}

#image {
  height: auto;
  max-width: 100%;
  border-radius: 2%;
  display: block;
}

.conclusion {
  font-family: "Montez", cursive;
  font-size: 2.2rem;
  font-style: italic;
  background-color: #a6e3e9;
}

#tribute-info {
  width: auto;
  margin: 2%;
  text-align: center;
  background-color: #e3fdfd;
  display: flex;
  flex-direction: column;
}

.introduction {
  text-align: justify;
  font-size: 1.2rem;
}

.description {
  align-self: center;
}

ul {
  text-align: justify;
  margin: 0 auto;
  line-height: 1.6;
}
.fact-container {
  margin: 5% 10%;
}

#footer {
  margin: 2%;
  text-align: center;
}

/* @media all and (max-width: 1024px) {
  #main {
    display: flex;
    flex-wrap: wrap;
  }
} */
/* @media all and (max-width: 839px) {
  ...;
}
@media all and (max-width: 480px) {
  ...;
} */
