* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-direction: column;
}

#title-section {
  background-color: #fbe8d3;
  width: 100%;
  display: flex;
  flex-direction: column;

  /* text-align: center; */
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-family: "Montez", cursive;
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

#image {
  max-width: 100%;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.conclusion {
  font-size: 2.4rem;
}

#tribute-info {
  width: auto;
  margin: 5%;
}

/* @media all and (max-width: 1024px) {
  #main {
    display: flex;
    flex-wrap: wrap;
  }
} */
/* @media all and (max-width: 839px) {
  ...;
}
@media all and (max-width: 480px) {
  ...;
} */
